$color_2: red;
$color_3: gray;
$color_4: white;
$background-color_1: rgba(255, 255, 255, 0.25);
@import "/src/assets/initSet.scss";
#premiumPage {
	width: 100%;
	.plan {
		border: 3px dashed $colorText;
		color: $colorText;
		text-align: center;
	}
	.pet-card {
		form {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			p {
				width: 100%;
				text-align: center;
				color: $colorText;
				margin: 5px auto;
			}
		}
	}
	.pet-card-img {
		border-radius: 100px;
	}
	.goodsNameText {
		font-size: 1rem;
	}
	input {
		&:invalid {
			color: $color_2;
		}
	}
	#linkArea {
		a {
			color: $color_3;
			&:hover {
				color: $colorText;
				transform: scale(1.2);
			}
		}
	}
	.btnCart {
		border: 1px dashed $colorText;
		border-radius: 20px;
	}
	.submitText {
		small {
			font-size: 12px;
		}
		i {
			color: $color_3;
		}
		&:hover {
			i {
				color: $color_4;
			}
		}
	}
	.toastLink {
		a {
			color: $color_3;
		}
		&:hover {
			a {
				color: $color_4;
			}
		}
	}
	.btnMinus {
		i {
			color: $colorText;
		}
	}
	.btnPlus {
		i {
			color: $colorText;
		}
	}
	.month-card {
		overflow-x: scroll;
		&:hover {
			.month-card-blur {
				display: none;
			}
		}
	}
	.month-card-blur {
		width: 300%;
		height: 100%;
		overflow-x: scroll;
		background-color: $background-color_1;
		backdrop-filter: blur(5px);
	}
	.month-card-pet {
		img {
			max-width: 80%;
			object-fit: contain;
		}
	}
}
